<div class="container-fluid">
  <div class="row" >
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="width: 60rem; height: 60rem;">
      <ng2-smart-table 
          [settings]="settings" 
          [source]="delegaciones"
          (userRowSelect)="userRowSeleccionada($event)">
      </ng2-smart-table>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <form [formGroup]="delegacionForm" (ngSubmit)="onSubmit()">
        <div>
          <table class="datosDelegacion">
            <tr>
              <td>
              <div class="form-group">
                  <label class="titulos">Codigo</label>
                  <input type="text" formControlName="ccodigo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ccodigo.errors }" />
                  <div *ngIf="submitted && f.ccodigo.errors" class="invalid-feedback">
                      <div *ngIf="f.ccodigo.errors.required">Debe ingresar un Codigo</div>
                  </div>
              </div>
              </td>
              <td colspan="2">
              <div class="form-group">
                  <label class="titulos">Descripcion</label>
                  <input type="text" formControlName="cdescripcion" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cdescripcion.errors }" />
                  <div *ngIf="submitted && f.cdescripcion.errors" class="invalid-feedback">
                      <div *ngIf="f.cdescripcion.errors.required">Debe ingresar una Descripcion</div>
                  </div>
              </div>
              </td>
            </tr>
            <tr>
              <td>
              <div class="form-group">
                  <label class="titulos">Fecha de Alta</label>
                  <input type="text" formControlName="cfechaAlta" class="form-control" />
              </div>
              </td>
              <td>
                <div class="form-group">  
                  <label class="titulos" for="delegEstado">Estado</label>
                  <div class="selector">
                    <ng-select id="delegEstado" formControlName="delegEstado" class="form-control"
                      [items]="optionsDeleg"
                      bindLabel="descripcion"
                      bindValue="idEstado"
                      [clearable]="false"
                      [virtualScroll]="true">
                    </ng-select>
                  </div>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <button class="btn btn-success boton">Actualizar Delegacion</button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </form>
      <hr/>
      <form [formGroup]="bancoForm" (ngSubmit)="onSubmit()">
        <div>
          <table class="datosBanco">
            <tr>
              <td>
              <div class="form-group">
                  <label class="titulos">Codigo</label>
                  <input type="text" formControlName="cbcodigo" class="form-control"/>
              </div>
              </td>
              <td>
                <div class="form-group">
                  <label class="titulos">Descripcion</label>
                  <input type="text" formControlName="cbdescripcion" class="form-control"/>
                </div>
              </td>
              <td>
              <div class="form-group">
                  <label class="titulos">Codigo Debito</label>
                  <input type="text" formControlName="ccodigoDebito" class="form-control"/>
              </div>
              </td>
            </tr>
            <tr>
              <td>
              <div class="form-group">
                  <label class="titulos">DescripPrestacion</label>
                  <input type="text" formControlName="cdescripPrestacion" class="form-control"/>
              </div>
              </td>
              <td>
                <div class="form-group">
                  <label class="titulos">Banco Recaudador</label>
                  <input type="text" formControlName="cbancoRecaudador" class="form-control"/>
                </div>
              </td>      
              <td>
                <div class="form-group">
                  <button class="btn btn-success boton">Actualizar Banco</button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>