:host /deep/ ng2-smart-table thead > tr > th  { 
    font-size: 15px;
    text-align: center; 
 }
 
 table tbody th, table tbody tr td .centrado {
    font-size: 15px;
    text-align: center; 
 }
 .datosDelegacion {
   margin-top: 7px;
   font-size: 15px;
 }
 .datosBanco {
   margin-top: 7px;
   font-size: 15px;
 }
 .boton {
    margin-left: 20px;
    height: 60px;
    color: green;
    background-color: aliceblue;
 }
 .botoncolor{
    background-color: aqua;
 }
 .titulos{
    color: green;
 }
 .resultado {
    font-size: 15px;
    color: blue;
 }
 .overflow-box {
   width: 300px;
   padding: 5px;
   height: 100px;
   border: 1px solid #999;
   overflow: hidden;
}