<div>
  <div>
      <p class="titulo">SERVINA</p>
  </div>
  <div routerLinkActive="active">
    <button type="button" class="btn btn-lg btn-block items" (click)="contactos()">
      <i class="far fa-address-card"></i> Contactos     <span class="badge badge-light badd">{{cantidadContactos}}</span>
    </button>
  </div>
  <div routerLinkActive="active">
    <button type="button" class="btn btn-lg btn-block items1" (click)="clientes()">
      <i class="far fa-address-card"></i> Clientes
    </button>
  </div>
  <div routerLinkActive="active">
    <button type="button" class="btn btn-lg btn-block items2" (click)="clientesNew()">
      Nuevo Cliente
    </button>
  </div>
  <div routerLinkActive="active">
    <button type="button" class="btn btn-lg btn-block items" (click)="delegaciones()">
      <i class="far fa-address-card"></i> Delegaciones
    </button>
  </div>
  <div routerLinkActive="active">
    <button type="button" class="btn btn-lg btn-block items2" (click)="delegacionesNew()">
      Nueva Delegacion
    </button>
  </div>
</div>